<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/AdminUserslist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="/images/logo.png" alt="">
            <h2>Admin</h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i> <a href="/admin/dashboard">Dashboard</a></li>
            <li><i class="fa-solid fa-table-cells-large"></i> <a href="/admin/products">Products</a></li>
            <li><i class="fa-solid fa-list" style="color: #adb1b8;"></i> <a href="/admin/Category">Categories</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/orderlist">Orders</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/banner">Banner</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/coupon">Coupons</a></li>
            <li><i class="fa-solid fa-user" style="color: #c4c8cf;"></i><a href="/admin/Userslist">Users</a></li>
          
            
            <!-- <li><i class="fa-solid fa-chart-line"></i> <a href="#">Blank</a></li> -->
            <div class="logout">
                <li><i class="fa-solid fa-right-from-bracket" style="color: #d40c48;"></i> <a href="#">Logout</a></li>
            </div>
        </div>

    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
            
                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>
           
        </div>

        <h3 class="i-name">Users</h3>
 


        <div class="board">
            <table width="100%"> 
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>verified</td>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% Usersdatas.forEach((data)=>{ %>
                        <td class="people"> 
                            <!-- <img src="/images/ramees.jpeg" alt=""> -->
                            <div class="people-de">
                                <h5><%=data.name%></h5>
                            </div>
                        </td>

                        <td class="people-des">
                          <h5><%=data.email%></h5>
                        </td>

                        <td class="active"><p><%=data.phone%></p></td>

                        <td class="role">
                            <% if(data.verified) { %>
                                <button style="padding: .6rem;  border-radius: 5px; border: none; width: 100px; color: rgb(234, 218, 218); background-color: red;"  class="blockBtn blockbtn<%=data._id %>" onclick="blockUser(event,'<%=data._id %>')">
                                    BLOCK
                                </button>
                                <% }else { %> 
                                <button style="padding: .6rem; ; border-radius: 5px; border: none; width: 100px; color: rgb(199, 215, 199); background-color: green;"  class="blockBtn blockbtn<%=data._id %>" onclick="blockUser(event,'<%=data._id %>')">
                                   Active 
                                </button>
                                <% } %>
                        </td>

                        
                    </tr>
                                     
                </tr>
             <% }) %>
                </tbody>
            </table>
            
        </div>
    </section>

    <script>
        async function blockUser(event,userid){
            event.preventDefault()
            try {
        
                const blockBtn = document.querySelector('.blockbtn' + userid)
        
                   const response = await fetch(`/admin/blockusers?id=${userid}`,{
                    method:'PATCH',
                    headers:{
                    'Content-Type':'application/json'
                    }
                   })
        
                   const result = await response.json()
        
                   if(result.block){
                       blockBtn.innerText = 'BLOCK'
                       blockBtn.style.backgroundColor = 'red'
                       blockBtn.style.color = 'white'
                    }
                    else{
                        
                       blockBtn.innerText = 'Active'
                       blockBtn.style.backgroundColor = 'green'
                       blockBtn.style.color = 'white'
        
                   }
            } catch (error) {
                console.log('Error in block product',error);
            }
        }
        
        </script>
 
</body>

</html>